:root.theme-dark {
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --subtitle-bg: #ff0070;
  --menu-color: #000028;
}

.theme-dark .rec {
  display: inline-block;
  color: var(--rec-color);
}