*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-inline-size: 375px;
  margin: 0;
  font-family: var(--main-font);
  font-weight: var(--font-weight-regular);
  color: var(--text-color);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.page {
  min-height: 100vh;
  margin: 0 auto;
  padding: var(--content-padding);
  max-inline-size: var(--content-width);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
  display: block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
}

a {
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

button:focus-visible,
a:focus-visible {
  outline: 2px solid var(--text-color);
  outline-offset: 2px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
