:root.theme-light {
  --bg-color: #312639;
  --bg-image: url(../images/cover-image-light.png);
  --text-color: #312639;
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --subtitle-bg: #ff8dcb;
  --menu-color: #312639;
}

.theme-light .rec {
  display: none;
}