:root.theme-light {
  --bg-color: #fff;
  --bg-image: url(../images/cover-image-light.png);
  --text-color: #000;
  --accent-color: #000;
  --title-color: #DB00FF;
  --subtitle-bg: #FF0070;
  --menu-color: #000;
  --nav-bg-color: transparent;
}

.theme-light .rec {
  display: none; 
}

.theme-light .page {
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff;
    --bg-image: url(../images/cover-image-light.png);
    --text-color: #000;
    --accent-color: #000;
    --title-color: #DB00FF;
    --subtitle-bg: #FF0070;
  }
  
  .rec {
    display: none;
  }
}
