.section-title,
.section-subtitle,
.card__title {
  display: block;
}


.page {
  min-height: 100vh;
}

.page__inner {
  min-height: 100vh;
  margin: 0 auto;
  padding: var(--content-padding);
  max-inline-size: var(--content-width);
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 40px;
}

/* Шапка и футер */

.header,
.footer {
  position: relative;
  display: grid;
  min-height: var(--header-footer-min-height);
  grid-template-rows: 1fr auto 1fr;
  align-items: center;
}

.footer {
  justify-items: center;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--text-color);
}

.decorated-zone::before {
  top: var(--content-padding);
  right: var(--content-padding);
  border-bottom: none;
  border-left: none;
}

.decorated-zone::after {
  bottom: var(--content-padding);
  left: var(--content-padding);
  border-top: none;
  border-right: none;
}


.rec {
  position: absolute;
  top: var(--content-padding);
  right: calc(var(--content-padding) + 30px);
  font-size: 18px;
  line-height: 25px;
  font-weight: var(--font-weight-regular);
  text-transform: uppercase;
}

.rec::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: var(--rec-color);
  box-shadow: 0 0 10px var(--rec-color);
}

.header__theme-menu {
  justify-self: center;
  align-self: start;
  margin-top: calc(var(--content-padding) + 10px);
}

.header__theme-menu-list {
  display: flex;
  gap: 12px;
}

.header__theme-menu-button {
  padding: 2px 13px;
  border: 1px solid transparent;
  text-transform: lowercase;
  font-size: 18px;
  color: var(--accent-color);
}

.header__theme-menu-button:hover {
  border-color: var(--accent-color);
}

.header__theme-menu-button_active {
  border-color: var(--accent-color);
  pointer-events: none;
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: var(--font-weight-bold);
  line-height: 0.8;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  justify-self: start;
  margin-left: -10px;
}

.header__text {
  justify-self: end;
  max-width: 491px;
}

.accent-caption {
  padding: 4px 10px;
  font-size: 18px;
  font-weight: var(--font-weight-bold);
  background-color: var(--subtitle-bg);
  color: var(--menu-color);
}

.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: var(--font-weight-bold);
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}

.main {
  display: grid;
  gap: 50px;
}

.section {
  display: grid;
  gap: 20px;
}

.section-title {
  font-size: 18px;
  font-weight: var(--font-weight-bold);
  color: var(--accent-color);
}

.section-subtitle {
  font-size: 18px;
  font-weight: var(--font-weight-bold);
}

.card__title {
  background-color: var(--subtitle-bg);
  color: var(--bg-color);
  font-size: 18px;
  font-weight: var(--font-weight-regular);
  padding: 5px 10px;
  margin-bottom: 10px;
}

.card__text {
  font-size: 18px;
  line-height: 1.35;
}

.section-content {
  display: grid;
  gap: 20px;
}

.why-grid {
  display: grid;
  gap: 20px;
}

.what-reduces-list {
  display: grid;
  gap: 20px;
}

.advice-list {
  display: grid;
  gap: 20px;
}

.section_gallery {
  display: grid;
  gap: 20px;
}

.gallery {
  display: grid;
  gap: 20px;
}

.gallery__item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .page__inner {
    gap: 60px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-left: -20px;
  }

  .header__text {
    width: 50%;
  }

  .main {
    gap: 80px;
  }

  .section--two-column {
    grid-template-columns: minmax(236px, 1fr) 2fr;
    column-gap: 20px;
    align-items: start;
  }

  .section-title {
    margin-bottom: 0;
    color: var(--bg-color);
    background-color: var(--accent-color);
  }

  .section:nth-of-type(1) .section-content,
  .section:nth-of-type(2) .section-content,
  .section:nth-of-type(3) .section-content {
    grid-column: 2 / -1;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 192px;
    gap: 20px;
  }

  .gallery__item--wide {
    grid-column: span 2;
  }

  .gallery__item--tall {
    grid-row: span 2;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (min-width: 1024px) {
  .page__inner {
    gap: 60px;
  }

  .header {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    align-items: center;
  }

  .header__theme-menu {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    justify-self: center;
    margin: 0;
  }

  .rec {
    top: 20px;
    right: 45px;
  }

  .header__title {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    margin-left: 0;
  }

  .header__text {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    justify-self: end;
    align-self: start;
    width: 491px;
    margin-top: -40px;
  }

  .section--two-column {
    grid-template-columns: 315px 1fr;
  }

  .what-reduces-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .advice-list {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
