:root {
  --main-font: 'IBM Plex Mono', monospace;
  --main-font-size: 18px;
  --main-line-height: 130%;
  --header-articles-gap: 20px;
  --articles-gap: 20px;
  --shadow-color: #ff0070;
  --header-weight: 700;
  --text-weight: 400;

  --main-padding: 10px;
  --main-content-vertical-padding: 40px;
  --sections-gap: 50px;

  --main-text-color: #f1b2ce;  /* #353430 */
  --bg-color: #000028;  /* #fff1f7 */
  --main-header-color: #db00ff; /* #ffc2e6 */
  --button-color: #ff0070;  /* #353430 */
  --button-hover-border: #ff007066; /* #32312d66 */
  --section-header-color: #ff0070;  /* #353430 */
  --article-header-color: #000028;  /* #353430 */
  --article-bg-color: #ff0070;  /* #ff8dcb */
  --link-shadow-color: #ff0070; /* #ff8dcb */
  --bg-image: url("../images/cover-image-dark.png");
  --visible: visible;
}