:root {
  --main-font: 'IBM Plex mono', monospace;
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --header-footer-height: 100vh;
  --header-footer-min-height: 668px;
  --content-padding: 10px;
  --content-width: 100%;
  
  --bg-color: #fff;
  --bg-image: url(../images/cover-image-light.png);
  --text-color: #000;
  --accent-color: #000;
  --title-color: #DB00FF;
  --subtitle-bg: #FF0070;
  --menu-color: #000;
  --card-title-color: #000;
  --rec-color: #FF0070;
}

@media (min-width: 768px) {
  :root {
    --content-padding: 20px;
  }
}

@media (min-width: 1024px) {
  :root {
    --content-padding: 20px;
  }
}
