:root {
  --main-font: "IBM Plex mono", monospace;
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --header-footer-height: 100vh;
  --header-footer-min-height: 668px;

  --content-padding: 10px;
  --content-width: min(1024px, 100%);
  --bg-color: #ffeef6;
  --bg-image: url(../images/cover-image-light.png);
  --text-color: #312639;
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --subtitle-bg: #ff8dcb;
  --menu-color: #312639;
  --card-title-color: #312639;
  --rec-color: #ff0070;
}

@media (min-width: 768px) {
  :root {
    --content-padding: 20px;
  }
}

@media (min-width: 1024px) {
  :root {
    --content-padding: 20px;
    --content-width: 1024px;
  }
}
